# Environment files
.env
*.env.local

# Python
__pycache__/
*.py[cod]
*$py.class
.Python
venv/
ENV/

# Data files (for local CSV storage)
backend/data/*.csv

# IDE
.vscode/
.idea/

# OS
.DS_Store
Thumbs.db

# Node
node_modules/
dist/
.cache/
PpZsUbIB72pOMQ3V